{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "students" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Excessive Absences",
        "description" : ""
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}


<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h3 class='panel-title'><i class='fa fa-users'></i>Excessive Absences</h3>
    </div>
    
    <div class='panel-body'>
        <div class="well well-sm"><strong>Select Term</strong></div>
        <table width=30%>
            <tr>
            {% for term in terms %}
                <td><button class="btn-selector term-btn" href="#">{{term.term}}</button></td>
            {% endfor %}
            </tr>
        </table>
        <div class="well well-sm"><strong>Select Class</strong></div>
        {% if (user.primary_group_id==4 or user.primary_group_id==2) %}
            <div style="overflow-x: auto">
                <table id='table-classes'>
                {% for class in allclasses %}
                    {% if loop.index % 10 == 1 %}
                        <tr>
                    {% endif %}
                    <td><button class="btn-selector class-btn" href="#">{{class.reference_number}}</button></td>
                    {% if loop.index % 10 == 0 %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
        {% else %}
            <table class='table-responsive' id='table-classes'><tr>
                {% for teacher_id,class in classreference %}
                    {% if teacher_id==user.user_name %}
                        {% for classref in class %}
                            <td><button class="btn-selector class-btn" href="#">{{classref}}</button></td>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr></table>
        {% endif %}
    </div>
    <div id='div-nat-show' style='display: none;'>
        <div class="well well-sm"><strong>Class Reference: <span id="div-selected-class" /></strong></div>
        <div class="table-responsive">
            <table id="table-absences" class="table table-fixed">
                <thead>
                    <tr>
                        <th data-column-name="student-no">No </th>
                        <th data-column-name="column-1">Check </th>
                        <th data-column-name="column-2">Student Name </th>
                        <th data-column-name="column-3">#Absences </th>
                        <th width='50%'> </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 " style='text-align: center'>
                <button type="button" class="btn btn-submit" id="btn-add-student" style="margin-top: 30px; margin-bottom: 30px">Add Student</button>
                <button type="button" class="btn btn-submit" id="btn-submit" style="margin-top: 30px; margin-bottom: 30px">Submit</button>
            </div>
        </div>
    </div>
    <a id="user-name" href="#" style="display: none;">{{ user.display_name }}</a>
</div>
{% endblock %}
{% block page_scripts %}
        <script>            
            $(document).ready(function() {
                var selectedTerm;
                var student_absences;
                var selectedClassRef;
                
                $('.term-btn').on('click', function(){
                    var $this = $(this);
                    
                    $('.term-btn').css("background-color","#337ab7");
                    $this.css("background-color","green");
                    
                    selectedTerm = $this.html();
                });
                $('.term-btn').last().trigger( "click" );
            
                $('.class-btn').on('click', function() {
                    var $this = $(this);
                    $('#div-nat-show').show();
                    
                    $('.class-btn').css("background-color","#337ab7");
                    $this.css("background-color","green");
                    
                    selectedClassRef = $this.html();
                    $.ajax('/forms/public/students/get-excessive-absences/' + selectedTerm + '_' + selectedClassRef, {
                        success: function(data) {
                            student_absences = JSON.parse(data);
                            loadDataOfClass();
                        }
                    });
                    
                    return false;
                });
                
                function loadDataOfClass() {
                    var tableHtml = '';
                    var indexArr = 0;
                    for (var key in student_absences)
                    {
                        tableHtml += "<tr class='tr-student'>";
                        tableHtml += '<td>' + (++indexArr) + '</td>';
                        tableHtml += '<td><input type=checkbox class=absence-check id=check_'
                             + student_absences[key].student_id + '></td>';
                        tableHtml += '<td>' + capitalizeFirstLetter(student_absences[key].last_name) + ", " + capitalizeFirstLetter(student_absences[key].first_name) + '</td>';
                        tableHtml += '<td><input type=text class=absence-num id=text_'
                            + student_absences[key].student_id + '></td>';
                        tableHtml += '<td></td>';
                        tableHtml += '</tr>';
                    }
                    
                    $('table#table-absences tbody').html(tableHtml);
                    //ufTable('table-tests');
                }
                
                $('#btn-add-student').on('click', function(){
                    var newStudentId = ($('table#table-absences tbody tr').length + 1);
                    tableHtml = "<tr class='tr-student'>";
                    tableHtml += '<td>' + newStudentId + '</td>';
                    tableHtml += '<td><input type=checkbox class=absence-check id=check_'+ newStudentId +'></td>';
                    tableHtml += '<td><input type=text class=absence-name></td>';
                    tableHtml += '<td><input type=text class=absence-num id=text_' + newStudentId + '></td>';
                    tableHtml += '<td></td>';
                    tableHtml += '</tr>';

                    $('table#table-absences tbody').append(tableHtml);
                    var newStudent = new Array();
                    newStudent['student_id'] = newStudentId;
                    newStudent['first_name'] = "";
                    newStudent['last_name'] = "";
                    student_absences.push(newStudent);
                });

                $('#btn-submit').on('click', function() {

                    var arr_absences = new Array();
                    arr_absences.push(new Array(selectedTerm, selectedClassRef, $('#user-name').html()));
                    $('tr.tr-student').each(function() {
                        $this = $(this);
                        var abs_check = $this.find('input.absence-check');
                        if (abs_check.is(':checked')){
                            var student_id = $this.find('input.absence-check').attr('id').replace("check_", "");
                            var name = $this.find('input.absence-name').length ? 
                                        $this.find('input.absence-name').val() : 
                                        $this.find('td').eq(2).html();
                            var absences = $this.find('input.absence-num').val();

                            arr_absences.push(new Array(student_id, name, absences));
                        }
                    });

                    // if (student_absences.length == 0)   return;
                    
                    // var checked_students = new Array();
                    
                    // $('input.absence-num').css({
                    //     "border": "",
                    //     "background":""
                    // });
                    // for (var key in student_absences)
                    // {
                    //     var abs_check = $('#check_' + student_absences[key].student_id);
                    //     var abs_num_text = $('#text_' + student_absences[key].student_id);
                        
                    //     if (abs_check.is(':checked')){
                    //         if ($.trim(abs_num_text.val()) == '' || !isNormalInteger(abs_num_text.val())) {
                    //             abs_num_text.css ({
                    //                 "border": "1px solid red",
                    //                 "background": "#FFCECE"
                    //             });
                    //             return;
                    //         }
                    //     }
                        
                    //     checked_students.push(new Array(student_absences[key].student_id,
                    //                                     abs_check.is(':checked') ? 1 : 0,
                    //                                     abs_num_text.val()=="" ? "0" : abs_num_text.val()));
                    // }
                    // checked_students.push(new Array(selectedTerm, selectedClassRef, $('#user-name').html()));
                    
                    $.ajax('/forms/public/students/set-excessive-absences/' + arrayToString(arr_absences) , {
                        success: function(data) {
                            alert ("Successfully submitted.");
                            $('input.absence-num').val('');
                            $('input.absence-check').prop('checked', false);
                        }
                    });
                    
                    return false;
                });
                
                function arrayToString(arr) {
                    var str = "";
                    for (var key in arr)
                    {
                        var str1 = "";
                        for (var key1 in arr[key])
                        {
                            str1 += arr[key][key1] + "_";
                        }
                        if (str1.length > 0){
                            str1 = str1.substr(0, str1.length-1);
                            str += str1 + "-";
                        }
                    }
                    if (str.length > 0){
                        str = str.substr(0, str.length-1);
                    }
                    return str;
                }
                
                function isNormalInteger(str) {
                    return /^\+?(0|[1-9]\d*)$/.test(str);
                }
                
                function capitalizeFirstLetter(string) {
                    string = string.toLowerCase();
                    return string.charAt(0).toUpperCase() + string.slice(1);
                }
            });
        </script>
{% endblock %}
